body {
    margin: 5;
    background: white;
    text-align: center;
    list-style: none;
    font-family: "Dosis";
}

ul {
  list-style: none;
}
    
h1 {
color: black;
font-size: 30px;
font-weight: 700;  
line-height: 2;
}

h2 {
color: black;
font-size: 25px;
font-weight: 700;
line-height: 1.8;
}

h3 {
color: black;
font-size: 23px;
font-weight: 700;
list-style: none;
line-height: 2.3;
}

p {
color: black;
margin-right: 60px;
margin-left: 60px;
font-size: 20px;
font-weight: 500;
line-height: 1.8;
}
